{
  "root": true,
  "extends": "@awesome-code-style",
  "ignorePatterns": "**/fixture/**",
  "overrides": [
    {
      "files": "build.js",
      "env": { "node": true },
      "rules": { "@typescript-eslint/no-var-requires": "off" }
    }
  ]
}
