node_modules/
build/
dist/
lib/
out/
types/

*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

!packages/esbuild-plugin-typecheck/test/fixture/build
